*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--gap: 20px;
}

.categories_container{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 100vh 50px;
	grid-gap: var(--gap);
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.container{
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 50px 100vh 50px;
	grid-gap: var(--gap);
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.tag__container{
	display:grid;
	grid-template-rows: auto;
	
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.header{
	display:flex;
	justify-content: center;
	align-self: center;
	grid-column:1/-1;
} 

.footer{
	display: flex;
	justify-content: center;
	align-self: center;
	grid-column:1/-1;
} 

.review{
	display:grid;
	grid-column:2/3;
	display:flex;
	flex-direction: column;
	align-items: center;
	grid-gap: var(--gap);
	
}

.categories{
	display:grid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.reviewed_books_list{
	display:grid;
	grid-column:2/3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.by_tag_book_list{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
