*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--gap: 20px;
}

.container{
	display:grid;
	grid-template-columns: 2fr 6fr 2fr;
	grid-template-rows: auto auto;
	grid-gap: var(--gap);
	margin-top: 65px;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.header, .footer{
	display: flex;
	justify-content: center;
	grid-column:1/-1;
} 

.review{
	display:grid;
	grid-template-columns: 1/2;
	grid-gap: var(--gap);
	
}