<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="./css/layout.css"></link>
<link rel="stylesheet" href="./css/style.css"></link>
<title>Book Review</title>
</head>

<script>
	function goBack() {
		window.history.back();
	}
</script>

<body>
	<div class="container">

		<header class="header">
			<h1>A Review of</h1>
		</header>

		<div class="review" th:each="book: ${bookReviewModel}">
			<h2 th:text="${book.BookTitle}"></h2>
			<img th:src="${book.image}" style="width: 300px; height: 500px"></img>
			<h3 th:text="${book.category}"></h3>
			<p th:text="${book.bookReview}"></p>
			<form method="POST">
				<h2>Tags</h2>
				<div>
					<label>Add A Tag: </label> <input id="tag-input" type="text"
						name="tagName" />
				</div> 
				
				<div>
					<input  name="id" type="hidden" th:value="${book.id}" />
				</div>
				
				<div>
					<button id="addButton" type="submit" th:attr="data-book-id=${book.id}">Add</button>
				</div>
				
			</form>	
			<div class="tag-collection" th:each="tag: ${book.tags}">
				<div th:id="'tag-'+ ${tag.id}">
				
				<a th:href="@{/tag(id=${tag.id})}" th:text="${tag}"></a>
				<!--   <form method="POST">-->
					
					<button type="submit" th:attr="data-id=${tag.id},data-title=${book.BookTitle}" name="id" class="removeTag">Remove</button>
				<!--  /form>-->
				</div>
			</div>
			
			
			
			
			<form method="POST">
				<h3>Comment Section</h3>
				<div>
					<label>Leave comment: </label> <input type="text"
						name="commentText" />
				</div>

				<div>
					<input name="id" type="hidden" th:value="${book.id}" />
				</div>

				<div>
					<button type="submit" th:formaction="@{/add-comment}">Enter</button>
				</div>
			</form>
			<ul th:each="comment: ${book.comments}">
				<li th:text="'Comment: ' + ${comment.comment} + ' | Date: '+ ${comment.date}"></li>
			</ul>
		</div>




		<footer class="footer">
			<button onclick="goBack()">Go Back</button>
		</footer>

	</div>
	<script src="../js/tag.js"></script>
</body>
</html>